
#top_line {
    clear:both; float:left; margin:0; padding:30px 0; position:relative; width:100%; z-index:99;
}
#top_line .top_line_left {
    float:left; margin:10px 0 0 0; padding:0; position:relative; text-align:left; width:50%; max-width: 50%;
}
#top_line .top_line_left a {
    clear:both; float:left; margin:0; padding:0; position:relative; text-decoration:none;
}
#top_line .top_line_left a:hover {
    box-shadow: none;
}
#top_line .top_line_left a img {
    clear:both; float:left; margin:0; padding:0; position:relative;
}


#top_line .top_line_right {
    float:left; margin:0; padding:0; position:relative; text-align:right; width:50%; max-width: 50%;
}
#top_line .top_line_right .description {
    clear:both; float:right;
    font-family:Lato-Regular;
    font-size: 22px; line-height: 32px;
    margin:0 0 10px 0; padding:0; position:relative; text-align:right;}

#top_line .top_line_right .phone {
    clear:both; float:right; margin:0 0 15px 0; padding:0; position:relative; text-align:right; outline: none;
    text-decoration: none;
}
#top_line .top_line_right .phone a {
    clear:both; float:right;
    font-family:Lato-Bold;
    font-size: 32px; line-height: 36px;
    margin:0; padding:0; position: relative;
    text-align:right; outline: none; text-decoration: none;
}
#top_line .top_line_right .phone a:hover {
    box-shadow: none; text-decoration: underline;
}
#top_line .top_line_right .phone a::before
  {
    background-image:url('../../images/phone-30x30.png'); background-position:0 0; background-repeat:no-repeat;
    background-size:30px 30px; border:0; content:""; display:inline-block; float:left; font-size:0px; height:30px;
    margin:0 10px 0 0; outline:none; position:relative; top:0px; width:30px;
  }

@media all and (max-width: 1000px) {
    #top_line {
        width: 100%;
        padding: 5px 5px;
    }
    #top_line .top_line_left {
        display: inline-block;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        min-width: 80%;
    }

    #top_line .top_line_left a img {
        max-width: 80%;
    }

    #top_line .top_line_right {
        display: inline-block;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        min-width: 80%;
        margin-top: 3%;
    }

    #top_line .top_line_right .phone,
    #top_line .top_line_right .description
    {
        text-align: left;
        float: left;
    }

    #top_line .top_line_right .phone a {
        text-align: left;
        float: left;
        font-size:22px; line-height:32px;
    }

    #top_line .top_line_right .phone a::before
    {
        background-size:20px 20px;
        height:20px; width:30px;
        margin:0 5px 0 0;
    }
}