.Header {
	position: fixed;
	width: 100%;
	padding: 50px 0;
	z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
	background: forestgreen;
}

.HeaderGroup {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	justify-items: center;
}

.Header a {
	color: white;
	font-weight: 700;
}

.Header button {
	padding: 8px 20px;
	font-size: 20px;
	background: #56CCF2;
	border-radius: 10px;
	border: none;
	font-weight: 700;
	outline: none;
	cursor: pointer;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.Header button:hover {
	background: white;
	color: black;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
	transform: translateY(-3px);
}

.HeaderScrolled {
	background: rgba(0, 101, 0, 0.8);
	padding: 15px 0;
	backdrop-filter: blur(20px);
}