.slider {background:url('../images/slider-img-1920.jpg') no-repeat bottom center;}
#slider_wrapper {
    clear:both; float:left; height:450px;
    margin:0; padding:40px 0; position:relative;
    width: 100%;
}
#slider_wrapper .big_text {
    clear: both; float: left;
    font-family:Lato-Bold;
    font-size: 50px;
    line-height:56px; margin:0 0 20px 0; padding:0; position:relative;
    width: 600px;
}

#slider_wrapper .small_text {
    clear:both; float:left;
    font-family:Lato-Light;
    font-size: 22px; line-height:32px;
    margin:0 0 40px 0; padding:0; position:relative;
    width:600px;
}
#slider_wrapper .button {
    clear:both; display: inline-block;
    float:left;
    font-family:Lato-Medium;
    font-size:32px; line-height:36px; margin:0; padding: 16px 30px;}

@media all and (max-width: 1000px) {
  #slider_wrapper {
      height: 400px;
  }
  #slider_wrapper .big_text {
      font-size:30px; line-height:32px;
      margin-left: 10vw;
      width: 80vw; text-wrap: normal;
  }
  #slider_wrapper .small_text {
      font-size:22px; line-height:26px;
      margin-left: 10vw; width:80vw;
  }
  #slider_wrapper .button {
      font-size:22px; line-height:26px;
      margin-left: 10vw; min-width: 30vw;
      margin-top: 50px;
  }

}