.Hero {
  height: 420px;
  background: dimgray;
}

.HeroGroup {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
  backdrop-filter: blur(3px);
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
}

.Hero p {
  font-size: 30px;
  line-height: 1.5;
  color: rgba(255,255,255, 0.8);
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
}

@media (max-width: 640px) {
  .HeroGroup {
	padding: 100px 20px;
  }

  .Hero h1 {
	font-size: 40px;
  }

  .Hero p {
	font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
	  opacity: 0;
	  transform: translateY(20px)
  }
  100% {
	  opacity: 1;
	  transform: translateY(0px)
  }
}

.Hero h1 {
  animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero p {
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: white;
  color: black;
}