@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

*, *:after, *:before {box-sizing:border-box;}

*, body, html {margin:0; padding:0;}

a, body, div, form, h1, h2, h3, h4, h5, h6, html, input, label, legend, li, ol, p, span, table, tbody, td, th, thead, tr, ul {font-weight:normal;}

body {
    background:#ffffff; clear:both; color:#000000;
    font-family:Lato-Regular !important;
    font-size:18px; line-height:22px;
}

.wrapper {clear:both; margin:0 auto; padding:0; position:relative; width:1000px;}

.block100 {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}

a,
a:visited,
#top_line .top_line_right .phone a,
#top_line .top_line_right .phone a:visited,
#our_contacts .left_contacts .row a,
#our_contacts .left_contacts .row a:visited,
#footer .foot_left p a,
#footer .foot_left p a:visited,
#footer .foot_left h3 a,
#footer .foot_left h3 a:visited,
#footer .foot_right .phone a,
#footer .foot_right .phone a:visited
{outline:none; text-decoration:underline;}

a:hover,
#top_line .top_line_right .phone a:hover,
#our_contacts .left_contacts .row a:hover,
#footer .foot_left p a:hover,
#footer .foot_left h3 a:hover,
#footer .foot_right .phone a:hover
{text-decoration:none;}

#top_line .top_line_right .phone a,
#top_line .top_line_right .phone a:visited,
#top_line .top_line_right .phone a:hover,
#our_contacts .left_contacts .row a,
#our_contacts .left_contacts .row a:visited,
#our_contacts .left_contacts .row a:hover,
#footer .foot_left p a,
#footer .foot_left p a:visited,
#footer .foot_left p a:hover,
#footer .foot_left h3 a,
#footer .foot_left h3 a:visited,
#footer .foot_left h3 a:hover,
#footer .foot_right .phone a,
#footer .foot_right .phone a:visited,
#footer .foot_right .phone a:hover
{color:#96c11f;}

.button,
.button:visited
{border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; border:0; box-shadow:none; cursor:pointer; outline:none; position:relative; text-align:center !important; text-decoration:none !important; transition:all 0.3s ease;}

.button:hover
{-webkit-transform: scale(1.05); -ms-transform: scale(1.05); opacity:1; transform: scale(1.05);}

.button,
.button:visited,
.button:hover
{
background: #b8e53b;
background: -moz-linear-gradient(top, #b8e53b 0%, #96c11f 5%, #5c7813 95%, #374b04 100%);
background: -webkit-linear-gradient(top, #b8e53b 0%,#96c11f 5%,#5c7813 95%,#374b04 100%);
background: linear-gradient(to bottom, #b8e53b 0%,#96c11f 5%,#5c7813 95%,#374b04 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e53b', endColorstr='#374b04',GradientType=0 );
color:#ffffff;
text-shadow:#455a0b 0 -1px 0px;
}

.black_block_000000
{
background: #222222;
background: -moz-linear-gradient(top, #222222 0%, #000000 100%);
background: -webkit-linear-gradient(top, #222222 0%,#000000 100%);
background: linear-gradient(to bottom, #222222 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000',GradientType=0 );
}

.black_shadow_block
{
box-shadow:0 10px 10px rgba(0, 0, 0, 0.4); z-index:99;
}

#map
{background-color:#eeeeee;}

#top_line .top_line_right .description,
#slider_wrapper .big_text,
#slider_wrapper .small_text,
#our_advantages h2,
#our_advantages ul.our_advantages_list li.advantage_item .description,
#footer .foot_left p,
#footer .foot_left h3,
#footer .foot_right .description
{color:#ffffff;}

#our_offers ul.offers_list li.offer_item h3,
#our_offers ul.offers_list li.offer_item .offers_description .meta_item,
#our_contacts h2,
#our_contacts .left_contacts h3,
#our_contacts .left_contacts .row,
#our_contacts .right_contacts h3
{color:#000000;}

#our_advantages ul.our_advantages_list li.advantage_item .head_text
{color:#96c11f;}

#our_contacts .right_contacts form .row50 p,
#our_contacts .right_contacts form .row100 p
{color:#999999;}

#footer .foot_left .developer
{color:#666666;}

#our_contacts .right_contacts form .row50 .text_form,
#our_contacts .right_contacts form .row100 .text_form
{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:1px solid #999999; box-sizing:border-box; font-family:Lato-Regular !important; outline:none;}

#our_offers ul.offers_list li.offer_item,
#our_advantages ul.our_advantages_list li.advantage_item
{list-style-image:none; list-style-position:outside; list-style-type:none;}


img,
#top_line .top_line_left a img,
#our_offers ul.offers_list li.offer_item img,
#our_advantages ul.our_advantages_list li.advantage_item img
{border:0; font-size:0px; outline:none;}

p
{line-height:24px; width:100%;}

b,
strong,
b a,
strong a
{font-weight:bold;}

@media all and (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}
